---
import logoNoBg from '../../images/logo_no-bg.webp';
---
<!-- <div class="loader">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>
<div class="wrapper d-flex flex-column h-100"> -->

  <header class="header">
    <nav class="navbar navbar-expand-xl  sticky-top">
      <div class="container">
        <a class="navbar-brand">
          <img loading="lazy" class="logo" width="60" height="60" src={logoNoBg.src} alt="">
          <b>Промислове об'єднання Phoenix</b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav ms-xl-auto">
            <li class="nav-item">
              <a class="nav-link" href="#hero-section">Про нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#features-section">Переваги</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services-section">Послуги</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#steps-section">Процедура ремонту</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#development-section">Власне виробництво</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#trusted-section">Нам довіряють</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer-section">Контакти</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </header>
