<section class="features-section py-5" id="features-section">
    <div class="container">
      <h2 class="h1 text-center mb-5">Наші переваги – ваш спокій</h2>
      <div class="row align-items-stretch">

        <div class="col-md-6">
          <div class="features-card" data-aos="fade-right">
            <div class="row align-items-center flex-md-row-reverse">
              <div class="col-lg-2 text-center">
                <img loading="lazy" src="./images/advantages/1.webp" alt="" width="80" height="80">
              </div>
              <div class="col-lg-10">
                <h3 class="h3">Професійні майстри</h3>
                <p>Наші спеціалісти – це команда досвідчених експертів, які знають свою справу та гарантують якісний
                  ремонт.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 ">
          <div class="features-card" data-aos="fade-right">
            <div class="row align-items-center flex-md-row-reverse">
              <div class="col-lg-2 text-center">
                <img loading="lazy" src="./images/advantages/2.webp" alt="" width="80" height="80">
              </div>
              <div class="col-lg-10">
                <h3 class="h3">Чесність та відкритість</h3>
                <p>Ви завжди в курсі всіх етапів ремонту – жодних прихованих деталей чи зайвих витрат.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 ">
          <div class="features-card" data-aos="fade-right">
            <div class="row align-items-center flex-md-row-reverse">
              <div class="col-lg-2 text-center">
                <img src="./images/advantages/3.webp" alt="" loading="lazy" width="80" height="80">
              </div>
              <div class="col-lg-10">
                <h3 class="h3">Якісні запчастини</h3>
                <p>Ми використовуємо лише оригінальні або перевірені деталі, що забезпечує довготривалу роботу вашої
                  техніки.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="features-card" data-aos="fade-right">
            <div class="row align-items-center flex-md-row-reverse">
              <div class="col-lg-2 text-center">
                <img src="./images/advantages/4.webp" alt="" loading="lazy" width="80" height="80">
              </div>
              <div class="col-lg-10">
                <h3 class="h3">Більше, ніж просто ремонт</h3>
                <p>Окрім відновлення техніки, ми пропонуємо оновлення ПЗ, обслуговування та консультації.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 ">
          <div class="features-card" data-aos="fade-right">
            <div class="row align-items-center flex-md-row-reverse">
              <div class="col-lg-2 text-center">
                <img src="./images/advantages/5.webp" alt="" loading="lazy" width="80" height="80">
              </div>
              <div class="col-lg-10">
                <h3 class="h3">Оперативний ремонт</h3>
                <p>Швидка діагностика та ремонт – ми цінуємо ваш час і мінімізуємо простої техніки.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 ">
          <div class="features-card" data-aos="fade-right">
            <div class="row align-items-center flex-md-row-reverse">
              <div class="col-lg-2 text-center">
                <img src="./images/advantages/6.webp" alt="" loading="lazy" width="80" height="80">
              </div>
              <div class="col-lg-10">
                <h3 class="h3">Індивідуальний підхід</h3>
                <p>Ми підбираємо найкращі рішення з урахуванням ваших потреб, бюджету та термінів.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>