---
// import '../css/bootstrap.css';
import '../css/libs.min.css';
import '../css/style.css';
import Header from "../blocks/Header/Header.astro";
import Hero from "../blocks/Hero/Hero.astro";
import Features from "../blocks/Features/Features.astro";
import Services from "../blocks/Services/Services.astro";
// import Footer from "../blocks/Footer/Footer.astro";
// import { SITE_NAME } from '../config';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<!-- <title>{SITE_NAME}</title> -->
	</head>
	<body>
		<Header />
		<Hero />
		<Features />
		<Services />
		<script src="../js/libs.min.js" is:inline></script>
		<script src="../js/main.js" is:inline></script>
	</body>
</html>