---

---
<section class="types-work-section py-5">
    <div class="container">
      <h2 class="h1 text-center mb-5">Види робіт</h2>

      <div class="row" data-aos="fade-right">
        <ul class="col-md-6 d-flex flex-column gap-4 list-unstyled">
          <li class="types-work-item">
            <img width="30" height="30" loading="lazy"
              src="./images/types-work/Заміна_корпусних_частин-removebg-preview.webp" alt="">
            Заміна корпусних частин
          </li>
          <li class="types-work-item">
            <img width="30" height="30" loading="lazy"
              src="./images/types-work/Заміна_шасі__променів__поворотних_механізмів-removebg-preview.webp" alt="">
            Заміна шасі, променів, поворотних механізмів
          </li>
          <li class="types-work-item">
            <img width="30" height="30" loading="lazy"
              src="./images/types-work/Ремонт_підвісів-removebg-preview.webp" alt="">
            Ремонт підвісів
          </li>
          <li class="types-work-item">
            <img width="30" height="30" loading="lazy"
              src="./images/types-work/Калібрування_підвісу_камери-removebg-preview.webp" alt="">
            Калібрування підвісу камери
          </li>
          <li class="types-work-item">
            <img width="30" height="30" loading="lazy"
              src="./images/types-work/Відновлення_після_складних_падінь-removebg-preview.webp" alt="">
            Відновлення після складних падінь
          </li>
        </ul>
        <ul class="col-md-6 d-flex flex-column gap-4 list-unstyled">
          <li class="types-work-item">
            <img width="30" height="30" loading="lazy"
              src="./images/types-work/Відновлення_після_потрапляння_вологи-removebg-preview.webp" alt="">
            Відновлення після потрапляння вологи
          </li>
          <li class="types-work-item">
            <img width="30" height="30" loading="lazy"
              src="./images/types-work/Заміна_плат__сенсорів_та_модулів-removebg-preview.webp" alt="">
            Заміна плат, сенсорів та модулів
          </li>
          <li class="types-work-item">
            <img width="30" height="30" loading="lazy" src="./images/types-work/8.webp" alt="">
            Заміна шлейфів плат та модулів
          </li>
          <li class="types-work-item">
            <img width="30" height="30" loading="lazy"
              src="./images/types-work/Оновлення_програмного_забезпечення-removebg-preview.webp" alt="">
            Оновлення програмного забезпечення
          </li>
          <li class="types-work-item">
            <img width="30" height="30" loading="lazy" src="./images/types-work/10.webp" alt="">
            Проведення гарантійного обслуговування техніки
          </li>
        </ul>

      </div>

    </div>
  </section>