---

---
<section class="development-section py-5" id="development-section">
    <div class="container">
      <h2 class="h1 text-center mb-5">Власне виробництво</h2>

      <div class="row mb-4">
        <div class="col-xl-8 d-flex flex-column justify-content-center align-items-md-start order-xl-first">
          <h3 class="mb-4 fw-bold ">Система скиду для БПЛА сіткостріл Phoenix</h3>
          <p>Виріб використовується для знищення повільно рухомих або статично зависаючих БПЛА/Дронів методом
            пострілу згори
            капронової сітки, яка знаходиться у пластиковій колбі.</p>
          <div class="d-flex gap-4 justify-content-center">
            <a href="tel:+380951120000" class="btn btn-primary">Замовити</a>
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#system-BPLA">Детальніше</a>
          </div>
        </div>
        <div class="col-xl-4 text-center order-first">
          <img loading="lazy" width="300" height="300" src="./images/products/1.webp" alt="">
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-xl-8 d-flex flex-column justify-content-center align-items-md-start order-xl-first">
          <h3 class="mb-4 fw-bold ">ЗАСІБ РЕБ «ЛОТОС» 3 стаціонарний</h3>
          <div class="d-flex gap-4 justify-content-center">
            <a href="tel:+380951120000" class="btn btn-primary">Замовити</a>
            <a href="#" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#remedy-LOTUS-1">Детальніше</a>
          </div>

        </div>
        <div class="col-xl-4 text-center order-first">
          <img loading="lazy" width="300" height="300" src="./images/products/2-new.webp" alt="">
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-xl-8 d-flex flex-column justify-content-center align-items-md-start order-xl-first">
          <h3 class="mb-4 fw-bold ">ЗАСІБ РЕБ «ЛОТОС» 3 мобільний</h3>
          <div class="d-flex gap-4 justify-content-center">
            <a href="tel:+380951120000" class="btn btn-primary">Замовити</a>
            <a href="#" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#remedy-LOTUS-2">Детальніше</a>
          </div>

        </div>
        <div class="col-xl-4 text-center order-first">
          <img loading="lazy" width="300" height="300" src="./images/products/3-new.webp" alt="">
        </div>
      </div>

    </div>
  </section>