---

---
<section class="trusted-section py-5" id="trusted-section">
    <div class="container">
      <ul class="row list-unstyled justify-content-center trusted-docs">
        <li class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
          <h2 class="h1 mb-5 text-center">Нам довіряють</h2>
          <img loading="lazy" src="./images/img-2.webp" alt="" width="400" height="400">
        </li>
        <li class="col-lg-4 order-md-first" data-aos="zoom-in" data-aos-delay="200">
          <img loading="lazy" src="./images/img-1.webp" alt="" width="400" height="400">
        </li>
        <li class="col-lg-4" data-aos="zoom-in" data-aos-delay="600"><img loading="lazy" src="./images/img-3.webp"
            alt="" width="400" height="400"></li>
      </ul>

      <div class="swiper trusted-slider mySwiper swiper-backface-hidden">
        <div class="swiper-wrapper" aria-live="polite">
          <div class="swiper-slide swiper-slide-active text-center" role="group" aria-label="1 / 19">
            <img loading="lazy" src="./images/1-removebg-preview.webp" alt="Ми Зробимо" width="400" height="400">
          </div>
          <div class="swiper-slide swiper-slide-next text-center" role="group" aria-label="2 / 19">
            <img loading="lazy" src="./images/2-removebg-preview.webp" alt="Мочимо русню" width="400" height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="3 / 19">
            <img loading="lazy" src="./images/3-removebg-preview.webp" alt="Наші крила" width="400" height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="4 / 19">
            <img loading="lazy" src="./images/4-removebg-preview.webp" alt="Привид Хортиці" width="400"
              height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="5 / 19">
            <img loading="lazy" src="./images/5-removebg-preview.webp" alt="Герб" width="400" height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="6 / 19">
            <img loading="lazy" src="./images/6-removebg-preview.webp" alt="biftmaffe" width="400" height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="7 / 19">
            <img loading="lazy" src="./images/7-removebg-preview.webp" alt="З честю за волю" width="400"
              height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="8 / 19">
            <img loading="lazy" src="./images/8-removebg-preview.webp" alt="Національна Гвардія України" width="400"
              height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="9 / 19">
            <img loading="lazy" src="./images/9-removebg-preview.webp" alt="Наш дім - фортеця" width="400"
              height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="10 / 19">
            <img loading="lazy" src="./images/10-removebg-preview.webp" alt="НГУ Аеророзвідка з БрОП" width="400"
              height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="11 / 19">
            <img loading="lazy" src="./images/11-removebg-preview.webp" alt="Національна Гвардія України"
              width="400" height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="12 / 19">
            <img loading="lazy" src="./images/12-removebg-preview.webp" alt="14 БРОП" width="400" height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="13 / 19">
            <img loading="lazy" src="./images/13-removebg-preview.webp" alt="Гвардія XV" width="400" height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="14 / 19">
            <img loading="lazy" src="./images/14-removebg-preview.webp" alt="Божевільний водій" width="400"
              height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="15 / 19">
            <img loading="lazy" src="./images/15-removebg-preview.webp" alt="EYES OF DEATH" width="400"
              height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="16 / 19">
            <img loading="lazy" src="./images/16-removebg-preview.webp" alt="Слайд 16" width="400" height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="17 / 19">
            <img loading="lazy" src="./images/17-removebg-preview.webp" alt="Аеророзвідка РКДБ 110БЕ" width="400"
              height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="18 / 19">
            <img loading="lazy" src="./images/18-removebg-preview.webp" alt="Слайд 18" width="400" height="400">
          </div>
          <div class="swiper-slide text-center" role="group" aria-label="19 / 19">
            <img loading="lazy" src="./images/19-removebg-preview.webp" alt="SUPPORT 25 BRIGADE" width="400"
              height="400">
          </div>
        </div>
        <div class="swiper-button-next" tabindex="0" role="button"></div>
        <div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button"></div>

      </div>

    </div>
  </section>