---

---
<section class="steps-section py-5" id="steps-section">
    <div class="container">
      <h2 class="h1 text-center mb-5">Процедура ремонту</h2>
      <div class="row flex-lg-row-reverse align-items-lg-center">
        <div class="col-lg-5">
          <img class="rounded-3" loading="lazy" src="./images/services/image.psd.webp" width="400" height="400"
            alt="">
        </div>
        <div class="col-lg-7">
          <ol class="steps-list">
            <li>
              <span class="h5 fw-bold">Звернення клієнта</span>
              <p>Менеджер сервісного центру уточнює деталі проблеми та надає попередню інформацію щодо ремонту</p>
            </li>
            <li>
              <span class="h5 fw-bold">Передача в ремонт</span>
              <p>За допомогою відправлення на Нову Пошту чи особисто до сервісу</p>
            </li>
            <li>
              <span class="h5 fw-bold">Створення документації</span>
              <p>Під час прийому пристрою створюємо акт прийому</p>
            </li>
            <li>
              <span class="h5 fw-bold">Діагностика</span>
              <p>Пошук несправностей та попередня оцінка ремонту</p>
            </li>
            <li>
              <span class="h5 fw-bold">Узгодження ремонту</span>
              <p>Узгодження попередньої вартості та термінів виконня ремонту з клієнтом</p>
            </li>
            <li>
              <span class="h5 fw-bold">Ремонт техніки</span>
              <p>Майстер приступає до ремонту пристрою</p>
            </li>
            <li>
              <span class="h5 fw-bold">Тестування техніки</span>
              <p>Майстер що виконував ремонт проводить тестування техніки на працездатність</p>
            </li>
            <li>
              <span class="h5 fw-bold">Отримання техніки клієнтом</span>
              <p>Оплата ремонту, відправка Новою Поштою або отримання на рецепції сервісу</p>
            </li>
          </ol>
        </div>

      </div>
    </div>
  </section>