<section class="services-section py-5" id="services-section">
    <div class="container">
      <h2 class="h1 text-center mb-5">Наші Послуги</h2>

      <div class="swiper slider-swiper mb-5">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img width="300" height="300" src="./images/slider/slide-1.webp" alt=""></div>
          <div class="swiper-slide"><img width="300" height="300" src="./images/slider/slide-2.webp" alt=""></div>
          <div class="swiper-slide"><img width="300" height="300" src="./images/slider/slide-3.webp" alt=""></div>
          <div class="swiper-slide"><img width="300" height="300" src="./images/slider/slide-4.webp" alt=""></div>
          <div class="swiper-slide"><img width="300" height="300" src="./images/slider/slide-5.webp" alt=""></div>
          <div class="swiper-slide"><img width="300" height="300" src="./images/slider/slide-6.webp" alt=""></div>
          <div class="swiper-slide"><img width="300" height="300" src="./images/slider/slide-7.webp" alt=""></div>
          <div class="swiper-slide"><img width="300" height="300" src="./images/slider/slide-8.webp" alt=""></div>
          <div class="swiper-slide"><img width="300" height="300" src="./images/slider/slide-9.webp" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="row justify-content-center">

        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Ремонт дронів</h5>
              <ul class="card-list text-start">
                <li>Mavic 3 Clasic</li>
                <li>Mavic 3</li>
                <li>Mavic 3Е</li>
                <li>Mavic 3Т</li>
                <li>Mavic 3 PRO</li>
                <li>Matrice М350</li>
                <li>Matrice 300</li>
                <li>Matrice 30/30Т</li>
                <li>Autel max4t</li>
              </ul>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSca44CN2jpy23PK866Jyzfn82n3pyWSAyJQyRLLWCAXbANCSA/viewform"
                class="btn btn-primary">Оформити заявку</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Ремонт та виготовлення
                ВЧ-подовжувачів | Пігтейлів</h5>
              <ul class="card-list text-start">
                <li>SLL400SF
                  <ul>
                    <li class="no-marker">10/ 15 / 20 м</li>
                  </ul>
                </li>

                <li>N-type Female / Male</li>
                <li>SMA Female / Male</li>
                <li>QMA Female / Male</li>
                <li>RP-RP-SMA Female / Male</li>
              </ul>
              <p>Будь-які комбінації</p>
              <a href="https://forms.gle/vFmC5UyUv5TAoo9eA" class="btn btn-primary">Оформити заявку</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Ремонт Антен | Пультів</h5>
              <ul class="card-list text-start">
                <li>Антена Avenger</li>
                <li>Антена Alientech DUO II</li>
                <li>Антена Alientech DUO III</li>
                <li>Антена ROС 2 / ROС 4</li>
                <li>Антена Awesome</li>
                <li>DJI Smart Controller Enterprise</li>
                <li>DJI RC PRO</li>
                <li>DJI RC plus</li>
                <li>DJI RC</li>
                <li>DJI RC-N1</li>
                <li>Autel Smart Controller v1/v2</li>
              </ul>
              <a href="https://forms.gle/vFmC5UyUv5TAoo9eA" class="btn btn-primary">Оформити заявку</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Модифікація Пультів | Антен</h5>
              <ul class="card-list text-start">
                <li>DJI Smart Controller Enterprise</li>
                <li>DJI RC PRO</li>
                <li>DJI RC plus</li>
                <li>DJI RC</li>
                <li>DJI RC-N1</li>
                <li class="no-marker">
                  <p>встановлення будь-якого виду конекторів:</p>
                </li>
                <li>N-Type (Female);</li>
                <li>SMA (Female);</li>
                <li>QMA (Female);</li>
                <li>TNC (Female)</li>
              </ul>
              <button class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#detailsModal">Детальніше</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>